.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.about-box {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  text-align: center;
}

.about-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #374151;
}

.about-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #374151;
}

.about-text {
  color: #374151;
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.about-icons {
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
    text-decoration: none;
}