.characterCard {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(124, 124, 124);
  width: 300px;
  height: 400px;
}

.characterCardImg{
  max-width: 300px;
    max-height: 300px;
    object-fit: contain;
}